
#prepodavateli {
width: 200px;
height: 240px;
}


table, th, td {
border: 1px solid black;
overflow: hidden;
}

.active p, .success p {
font-size: 15px;
}

.active {
width: 120px;
}

.active p {
margin-right: 10px;
font-weight: 600;
}

.success {
width: 238px;
}

.tab-bottom {
margin-bottom: 10px;
}